.container {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 999;

  ul {
    display: flex;
    align-items: center;

    li {
      display: inline-block;
      padding: 0 20px;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .optionUser {
    display: none;
    position: absolute;
    z-index: 999;
    padding: 0;
    background-color: #333;
    width: 300%;
    margin-left: -100%;
    border-radius: 5px;

    li {
      padding: 10px 0;
      display: block;

      a {
        display: flex;
        height: 150%;
        color: white;
        font-size: 120%;
        justify-content: center;
        align-items: center;

        span {
          margin-left: 10px;
        }

        &:hover {
          cursor: pointer;
          color: red;
        }
      }
    }
  }

  .activeOptionUser {
    display: block;
  }
}

.navbar {
  display: flex;
  background-color: #232323;
}

.navbarLeft {
  width: 55%;
  display: flex;
  justify-content: center;
}

.navbarRight {
  width: 45%;
  display: flex;
  align-items: center;
}

.tools {
  display: flex;
  align-items: center;
  width: 55%;
  margin-right: 5%;
}

.language {
  width: 30%;
  text-align: center;
  display: flex;
  justify-content: center;

  &:first-child {
    width: 50%;
  }

  &:last-child {
    width: 50%;
  }
}

.tool {
  width: 70%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 140px;
  height: 80px;
  margin: 0;
  padding: 0;
}

.languageIcon {
  width: 30px;
  height: 30px;
  margin: 0;
}

.linkIcon {
  display: inline-block;
  margin: 0 10px;

  &:hover {
    cursor: pointer;
  }
}

.toolIcon {
  font-size: 200%;
  color: red;

  &:hover {
    cursor: pointer;
    color: #0033FF;
  }
}

.optionUserParent {
  position: relative;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0;
}