
img {
  margin: 30px auto;
}

.detail-title {
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 10px;
}

.detail-time {
  padding: 0 0 40px 0;
  font-style: oblique;
}

.detail-sapo {
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 20px;
}

.detail-cmain {
  color: #292929;
  font-size: 110%;
}

.PhotoCMS_Author {
  margin: 0 auto 20px auto;
  width: 30%;
  border-top: solid 1px #ebebeb;
  text-align: center;
}

.detail-content {
  p {
    margin-bottom: 20px;
  }

  .PhotoCMS_Caption {
    margin-top: -25px;
    margin-bottom: -16px;
    text-align: center;
    font-size: 90%;
  }
}