
.container {
  display: flex;
  align-items: center;
  justify-content: center;

  u{
    color: blue;
  }

  & > a {
    & > img {
      width: 100px;
      height: 100px;
    }
  }

  .info {

    & > span {
      margin: 0 20px;
    }

    & > img {
      width: 30px;
      height: 30px;
      display: inline-block;
      margin: 0 20px;
    }
  }
}