.title {
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

.containerItems {
  margin: 0 auto 50px auto;
  border-radius: 5px;
  background-color: #dadada;
  padding: 0 10px;
  width: 80%;

  .flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;

    & > div {
      width: 100%;
    }
  }
}

.back {
  display: block;
  margin: 20px 0 0 10%;
  padding-bottom: 20px;
}