
.body {
  width: 80%;
  margin: 0 auto;
}

.containerCar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.carBoxItem {
  width: 20%;
  border: solid 2px #e3e3e3;
  border-radius: 5px;
  margin: 20px 20px;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 6px rgb(62, 64, 66, 0.4);
    -webkit-box-shadow: 0 0 20px 6px rgb(62, 64, 66, 0.4);
    -moz-box-shadow: 0 0 20px 6px rgb(62, 64, 66, 0.4);
  }

  .imagesCar {
    width: 100%;
    border-bottom: solid 2px #e3e3e3;
    position: relative;

    &:hover {
      cursor: auto;
      .optionCar {
        display: flex;
        background-color: rgb(62, 64, 66, 0.8);
      }
    }

    img {
      width: 80%;
      height: 80%;
      display: block;
      margin: 0 auto;
    }

    .optionCar {
      display: none;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      position: absolute;
      width: 100%;
      height: 100%;
      transform: translateY(-100%);
      justify-content: center;
      align-items: center;

      .pay {
        color: blue;
      }

      .bag {
        color: red;
      }

      div {
        margin: 0 auto;
        text-align: center;
        font-size: 300%;

        &:hover {
          cursor: pointer;
        }
      }

    }
  }

  img {
    width: 100px;
    height: 100px;
  }
}

.nameCar {
  font-weight: bold;
  font-size: 120%;
}

.priceCar {
  font-size: 120%;

  span {
    color: #0f5edd;
    font-weight: bold;
  }
}

.desCar {
  color: #606060;
}

.brand {
  display: flex;
  align-items: center;

  img {
    width: 10%;
    height: 10%;
    margin-right: 10px;
  }
}

.paddingItemCar {
  margin: 10px 0 0 20px;

  &:last-child {
    margin-bottom: 10px;
  }
}